.experiencia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 80px auto;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 60ch;
  color: #525252;
  margin-bottom: 60px;
}

.experiencia-texto strong {
  color: #141414;
}

.projetos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projetos-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  background-color: #f5f5f5;
  padding: 20px;
  border: 4px;
  position: relative;
}

.projetos-lista::before {
  content: "";
  background-image: linear-gradient(#b6f829, #c7dd0a);
  width: 4px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: -4px;
}

.projetos-ano {
  width: 80px;
  color: #525252;
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
}

.projetos-titulo {
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 10px;
}

.projetos-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.projetos-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.projetos-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background-color: #fff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 50px;
    margin-bottom: 40px;
  }
  
  .experiencia .subtitulo {
    max-width: initial;
    color: initial;
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  .experiencia .subtitulo {
    font-size: 3rem;
  }

  .projetos-lista {
    grid-template-columns: 1fr;
  }

  .projetos-titulo {
    margin: initial;
  }

  .projetos-texto {
    margin-bottom: 10px;
  }
}

@media (max-width: 430px) {
  .experiencia .subtitulo {
    font-size: 2rem;
  }

  .experiencia-texto {
    font-size: 1.25rem;
  }
}