.footer {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0px;
  background-color: #000;
  color: #fff;
  gap: 120px;
}

.footer-texto {
  color: #a3a3a3;
  max-width: 40ch;
  text-align: center;
}

.footer-copy {
  font-size: 1.125rem;
  color: #8f8f8f;
  text-align: center;
}

@media (max-width: 480px) {
  .footer-texto {
    font-size: 1.150rem;
    max-width: 35ch; 
  }
}