.formacao {
  background-color: #141414;
  padding: 120px 0px;
}

.formacao-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: #fff;
  gap: 100px;
  margin: 0px auto;
  padding: 40px 20px;
  position: relative;
}

.formacao-container::after {
  content: "";
  display: block;
  background: url("../img/detalhe.svg") no-repeat center center;
  width: 130px;
  height: 100px;
  position: absolute;
  left: -20px;
  bottom: -170px;
}

.formacao-container .subtitulo {
  color: #000;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #fff;
}

.formacao-faculdades {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 60px 0px;
}

.formacao-faculdades li {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #000;
}

.formacao-faculdades-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.formacao-faculdades-curso {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.formacao-faculdades-curso::before {
  content: "";
  background-image: linear-gradient(#b6f829, #c7dd0a);
  width: 4px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: -24px;
}

.formacao-faculdades-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
  text-transform: uppercase;
}

.formacao-extras h3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 30px;
  line-height: 1.4;
  color: #8f8f8f;
  position: relative;
}

.formacao-extras h3::before {
  content: "";
  display: block;
  background: url("../img/cursos.svg") no-repeat center center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -4px;
  left: -36px;
}

.formacao-extras-cursos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formacao-extras-cursos li {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  line-height: 1.1;
}

.formacao-extras-cursos span {
  color: #a3a3a3;
}

@media (max-width: 800px) {
  .formacao {
    padding: 60px 0px;
  }

  .formacao-container {
    grid-template-columns: 1fr;
    gap: 50px;
    margin-bottom: 40px;
  }

  .formacao-container::after {
    bottom: -150px;
  }
  
  .formacao-container .subtitulo {
    max-width: initial;
    color: #fff;
    font-size: 4rem;
  }

  .formacao-texto {
    max-width: initial;
  }
  
  .formacao-extras h3::before {
    position: initial;
    margin-bottom: 20px;
  }
}

@media (max-width: 430px) {
  .formacao-container .subtitulo {
    font-size: 2rem;
  }

  .formacao-texto {
    font-size: 1.25rem;
  }
}