* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', Arial, sans-serif;
  color: #141414;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #141414;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 40px 20px;
}

.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  max-width: 4ch;
  text-transform: uppercase;
  line-height: 1;
}

@media (max-width: 960px) {
  .subtitulo {
    font-size: 6rem;
  }
}