.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 3rem;
  font-weight: bold;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.header-menu a {
  font-size: 1.25rem;
  padding: 10px 20px;
}

.header-menu a:hover {
  background-color: #8a2be2;
  border-radius: 4px;
  color: #fff;
}

@media (max-width: 750px) {
  .header {
    flex-direction: column;
    gap: 40px;
  }

  .header-menu a {
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}

@media (max-width: 480px) {
  .header-menu li {
    display: flex;
  }
}