.introducao {
  text-align: center;
  margin: 80px auto;
}

.introducao h1 {
  display: inline-block;
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center center;
  position: absolute;
  top: -15px;
  left: -30px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 600px) {
  .introducao h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 480px) {
  .introducao {
    margin-top: 40px;
  }

  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 4px;
    top: -4px;
  }
}

@media (max-width: 430px) {
  .introducao h1 {
    font-size: 2.5rem;
  }
}